@import url("reset.css");

h1 {
	color: darkblue;
}

#up {
	color: coral;
}

.title-day {
	color: yellowgreen;
}

.title-nascence {
	color: crimson;
}

.title-nestor {
	color: darkslateblue;
}

.title-emergence-cyrillic+p {
	color: navy;
}

.title-oldest-monuments {
	color: tomato;
}

.title-monuments {
	color: goldenrod;
}

.title-printed-publications {
	color: rgb(255, 0, 0);
}

.title-date-change {
	color: rgba(60, 255, 0, 0.737);
}

div.block-day {
	color: rgb(56, 100, 230);
}

.block-nascence,
.block-nestor {
	color: blue;
}

.block-nestor p {
	color: green;
}

.block-printed-publications p {
	color: rgb(9, 74, 9);
}

.block-date-change p {
	color: rgb(40, 23, 188);
}

#emergence-cyrillic .title-emergence-cyrillic {
	color: darkorchid;
}

.block-oldest-monuments>p {
	color: maroon;
}

.block-monuments>p {
	color: burlywood;
}

.block-text~p {
	color: rgb(132, 255, 0);
}

.block-text+p {
	color: rgb(255, 0, 102);
}

.block-text.plum {
	color: plum;
}

[class*="gen"] {
	color: violet;
}